

.box {
    background-color: rgb(173, 216, 207);
    width: 350px;
    height: 200px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}

input {
    margin-top: 20px;
}

.button{
    background-color: whitesmoke;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30%;
    margin-top: 10%;
    border-radius: 9%;
    box-shadow: 4px 5px rgb(71, 128, 128);
    font-size: large;
}